.productmain {
	width: 100%;
	position: relative;
	overflow: hidden;
	scroll-behavior: smooth !important;
	transition: all 600ms;
}

.productmain:hover .sliderBtn {
	opacity: 0.9;
}

.productContainer::-webkit-scrollbar {
	display: none;
}

.productContainer {
	display: flex;
	position: relative;
	overflow-x: scroll;
	scrollbar-width: none;
	scroll-behavior: smooth;
	justify-content: flex-start;
}

.productContainer > div {
	min-width: calc(100% / 4);
}

.sliderBtn {
	top: 50%;
	margin: 2px;
	opacity: 0;
	z-index: 10;
	display: flex;
	color: white;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.4em;
	border-radius: 50%;
	position: absolute;
	align-items: center;
	background-color: #333;
	justify-content: center;
	transition: opacity 600ms;
	transform: translateY(-50%);
}

.sliderBtn:hover {
	opacity: 1;
	background: rgb(196, 15, 15);
}

.sliderBtn:active {
	scale: 0.9;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sliderPrev {
	left: 0;
}

.sliderNext {
	right: 0;
}

@media only screen and (width<=1024px) {
	.productContainer > div {
		min-width: calc(100% / 3);
	}
}

@media only screen and (width<=768px) {
	.productContainer > div {
		min-width: calc(100% / 3);
	}
}

@media only screen and (width<=420px) {
	.productContainer > div {
		min-width: 100%;
	}
}
