.logoText {
	font-family: "Commissioner", sans-serif;
	font-family: "Comfortaa", cursive;
	font-weight: 900;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialBtn {
	/* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important; */
}
